
@{
    ViewBag.Title = "DetailProduct";
    Layout = "~/Views/Shared/_LayoutFix.cshtml";
}
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="product-content-right">
                    @foreach (var pro in ViewBag.p)
                    {
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="product-images">
                                    <div class="product-main-img">
                                        @foreach (var img in ViewBag.imgs)
                                        {
                                            if (img.pid == pro.pid)
                                            {
                                                <img src="~/Content/Images/@img.iname" />
                                            }
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="product-inner">
                                    <h2 class="product-name">@pro.pname</h2>
                                    <div class="product-inner-price">
                                        <ins>IDR @pro.pprice</ins>
                                    </div>
                                    @{
                                        Html.BeginForm("Cart", "Home", FormMethod.Post);
                                        <div class="quantity">
                                            <input name="pid" value="@pro.pid" type="hidden" />
                                            <input name="pqty" type="text" size="4" class="input-text qty text"   >
                                        </div>
                                        <button class="add_to_cart_button" type="submit">Add to cart</button>
                                        }
                                    @foreach (var cat in ViewBag.cat)
                                    {
                                        <div class="product-inner-category">
                                            <p>Category: <a href="">@cat.cname</a></p>
                                        </div>
                                    }


                                    <div role="tabpanel">
                                        <ul class="product-tab" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Description</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                                <h2>Product Description</h2>
                                                <p> @pro.pdetails</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="related-products-wrapper">
                        <h2 class="related-products-title">Related Products</h2>
                        <div class="related-products-carousel">

                            @foreach (var pro in ViewBag.q)
                            {
                                <div class="single-product">
                                    <div class="product-f-image">
                                        @foreach (var img in ViewBag.imgs)
                                        {
                                            if (img.pid == pro.pid)
                                            {
                                                <img src="~/Content/Images/@img.iname" />
                                            }
                                        }
                                        <div class="product-hover">
                                            <a href="" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                                            <a href="" class="view-details-link"><i class="fa fa-link"></i> See details</a>
                                        </div>
                                    </div>

                                    <h2><a href="">@pro.pname</a></h2>

                                    <div class="product-carousel-price">
                                        <ins>IDR @pro.pprice</ins>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
